---
import { Section } from 'astro-boilerplate-components'
import Base from '../../templates/Base.astro'
---

<Base
  head={{
    title: 'Tov Privacy Policy',
    description: "Details outlining the Tov Bible App's privacy policy"
  }}
>
  <Section>
    <h1 class='font-bold text-xl mb-2'>Privacy Policy for tov</h1>
    <p>Effective Date: 08.13.2024</p>

    <h2 class='font-bold text-lg mb-2 mt-6'>Introduction</h2>

    <p>
      Welcome to Tov ("I"). I am committed to protecting your personal
      information and your right to privacy. This Privacy Policy explains what
      information I collect, how I use it, and your rights regarding it.
    </p>

    <h2 class='font-bold text-lg mb-2 mt-6'>Information I Collect</h2>
    <div class='flex flex-col gap-4'>
      <p>
        I collect basic information about your device and how you use the app,
        such as:
      </p>
      <ul>
        <li>- Device type</li>
        <li>- Operating system</li>
        <li>- App version</li>
        <li>
          - User behavior (e.g., navigation patterns, button clicks, chapters
          read)
        </li>
      </ul>
      <p>
        This data is always anonymous and is used solely to improve the app's
        functionality.
      </p>
      <p>
        Additionally, I collect crash reports to help identify and fix issues
        that may arise.
      </p>
    </div>
    <h2 class='font-bold text-lg mb-2 mt-6'>Information I Don't Collect</h2>
    <div class='flex flex-col gap-4'>
      <ol>
        <li>
          1. Personal Information: I do not collect any personal information
          such as your name, email address, or contact details.
        </li>
        <li>
          2. Cookies and Tracking Technologies: I do not use cookies or other
          tracking technologies.
        </li>
      </ol>
    </div>

    <h2 class='font-bold text-lg mb-2 mt-6'>How I Use Your Information</h2>
    <div class='flex flex-col gap-4'>
      <p>The information I collect is used to:</p>
      <ul>
        <li>- Improve and optimize the app’s functionality.</li>
        <li>- Monitor and analyze usage to enhance user experience.</li>
        <li>- Ensure the app operates securely and efficiently.</li>
      </ul>
    </div>

    <h2 class='font-bold text-lg mb-2 mt-6'>Sharing of Your Information</h2>
    <p>I do not share your personal information with third parties.</p>
    <h2 class='font-bold text-lg mb-2 mt-6'>Data Retention</h2>
    <div class='flex flex-col gap-4'>
      <p>
        I retain your usage data for as long as necessary to fulfill the
        purposes outlined in this Privacy Policy. Once the data is no longer
        needed, I will securely delete it.
      </p>
    </div>
    <h2 class='font-bold text-lg mb-2 mt-6'>Security</h2>
    <div class='flex flex-col gap-4'>
      <p>
        I take reasonable measures to protect your data from unauthorized
        access, loss, or misuse. However, please be aware that no security
        measures are completely foolproof.
      </p>
    </div>

    <h2 class='font-bold text-lg mb-2 mt-6'>Your Rights</h2>
    <div class='flex flex-col gap-4'>
      <p>
        Since I do not collect personal information, there is no personal data
        for you to access, correct, or delete. However, if you have any concerns
        about how your usage data is handled, please contact me.
      </p>
    </div>
    <h2 class='font-bold text-lg mb-2 mt-6'>Changes to This Privacy Policy</h2>
    <div class='flex flex-col gap-4'>
      <p>
        I may update this Privacy Policy from time to time. Any changes will be
        posted on this page, and the effective date will be updated accordingly.
      </p>
    </div>

    <h2 class='font-bold text-lg mb-2 mt-6'>Contact Us</h2>
    <div class='flex flex-col gap-4'>
      <p>
        If you have any questions or concerns about this Privacy Policy, please
        contact me at hello@trentcowden.com.
      </p>
    </div>
  </Section>
</Base>
