---
import { Section } from 'astro-boilerplate-components'
import Base from '../../templates/Base.astro'
---

<Base
  head={{
    title: 'Tov Privacy Policy',
    description: "Details outlining the Tov Bible App's privacy policy"
  }}
>
  <Section>
    <h1 class="font-bold text-xl mb-2">Privacy Policy for tov</h1>
    <p>Effective Date: 08.13.2024</p>

    <h2 class="font-bold text-lg mb-2 mt-6">Introduction</h2>

    <p>
      Welcome to Tov ("I"). I am committed to protecting your personal
      information and your right to privacy. This Privacy Policy explains what
      information I collect, how I use it, and your rights regarding it.
    </p>

    <h2 class="font-bold text-lg mb-2 mt-6">What I Collect</h2>

    <p>
      I collect simple information about your device and usage of the app, such
      as device type, operating system, app version, and user behavior (like how
      you navigate around, what buttons you push, and what chapters you read).
      This data is always anonymous and is simply used for improving the app.
    </p>

    <p>
      I also collect crash reports, so if something goes wrong, I can know how
      to fix it in the future.
    </p>

    <h2 class="font-bold text-lg mb-2 mt-6">What I Don't Collect</h2>

    <ol>
      <li>
        1. Personal Information: I do not collect any personal information such
        as your name, email address, or contact details.
      </li>
      <li>
        2. Cookies and Tracking Technologies: I do not use cookies or other
        tracking technologies.
      </li>
    </ol>
    <h2 class="font-bold text-lg mb-2 mt-6">How I Use Your Information</h2>

    <p>The information I collect is used to:</p>
    <ul>
      <li>- Improve and optimize the app’s functionality.</li>
      <li>- Monitor and analyze usage to enhance user experience.</li>
      <li>- Ensure the app operates securely and efficiently.</li>
    </ul>
    <h2 class="font-bold text-lg mb-2 mt-6">Sharing of Your Information</h2>
    <p>I do not share your personal information with third parties.</p>
    <h2 class="font-bold text-lg mb-2 mt-6">Data Retention</h2>

    <p>
      I retain your usage data for as long as necessary to fulfill the purposes
      outlined in this Privacy Policy. Once the data is no longer needed, I will
      securely delete it.
    </p>

    <h2 class="font-bold text-lg mb-2 mt-6">Security</h2>

    <p>
      I take reasonable measures to protect your data from unauthorized access,
      loss, or misuse. However, please be aware that no security measures are
      completely foolproof.
    </p>

    <h2 class="font-bold text-lg mb-2 mt-6">Your Rights</h2>

    <p>
      Since I do not collect personal information, there is no personal data for
      you to access, correct, or delete. However, if you have any concerns about
      how your usage data is handled, please contact me.
    </p>

    <h2 class="font-bold text-lg mb-2 mt-6">Changes to This Privacy Policy</h2>

    <p>
      I may update this Privacy Policy from time to time. Any changes will be
      posted on this page, and the effective date will be updated accordingly.
    </p>

    <h2 class="font-bold text-lg mb-2 mt-6">Contact Us</h2>

    <p>
      If you have any questions or concerns about this Privacy Policy, please
      contact me at hello@trentcowden.com.
    </p>
  </Section>
</Base>
